* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
    font-family: 'Fat Font';
    src: url('fonts/freefatfont-regular.woff2') format('woff2'),
         url('fonts/freefatfont-regular.woff') format('woff');
    font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

header {
  position: relative;
}

body {
  width: 100vw;
}

.logo {
  margin: 0 auto;
  display: block;
  max-width: 20%;
  min-width: 200px;
}


/*************************************************** Side Nav */
/************************************************ open button */
svg.svg-inline--fa.fa-minus.fa-w-14 {
  margin: 2%;
  font-size: 3rem;
  cursor: pointer;
  padding: .5%;
}
/************************************************ open button */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #232323;
  overflow-x: hidden;
  padding-top: 5%;
  transition: 0.5s;
}

.sidenav a {
  padding: 5% 8%;
  font-family: 'Work Sans', serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  color: #e6e6e6;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 2rem;
}
/*************************************************** Side Nav */

/************** FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER ******************/
footer {
    width: 100%;
    height: 100px;
    background: #232323;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin: 5%;
  text-decoration: none;
  transition: .3s;
}

footer a:hover {
  color: #fc8c08;
  transition: .3s;
}

svg.svg-inline--fa.fa-instagram.fa-w-14 {
  font-size: 2rem;
  color: white;
}
/************** FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER ******************/


/************** HOME HOME HOME HOME HOME HOME ******************/
body {
  background: #ffedd7;
  height: 100vh;
  width: 100vw;
  font-family: 'Work Sans',serif;
  letter-spacing: .05em;
}


/********************************************** scrolling banner */
h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.3em;
  display: inline-block;
  margin: 15px 40px;
}

.highlight {
  font-weight: 800;
  color: #fc8c08;
}

header#home {
    background: #232323;
    overflow: hidden;
}

.home header {
  position: relative;
  background: #232323;
  width: 100%;
  height: 8vh;
  overflow: hidden;
}

header .scroll {
  width: 100%;
  display: flex;
}

header .scroll div {
  color: white;
  background: #242424;
  white-space: nowrap;
  animation: scroll 40s linear infinite;
  animation-delay: -40s;
}

header .scroll div:nth-child(2) {
  animation: scroll2 40s linear infinite;
  animation-delay: -20s;
}

.open-nav {
  display: none;
}

/******************************************** HERO IMAGE / LOGO */
.hero {
  max-width: 80%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.logo-hero {
  max-width: 250px;
  display: block;
  margin: 0 auto;
  padding-top: 4%;
  width: 100%;
}

.hero-image {
  width: 100%;
  max-width: 750px;
  transition: .5s;
  padding: 50px 0;
}

.hero-image:hover {
  transform: scale(1.2);
  transform-origin: center;
  transition: .5s;
}

/*********************************************** bottom nav */
.bottom-nav {
  position: fixed;
  margin: 0 auto;
  text-align: center;
  bottom: 40px;
  width: 100%;
}

.bottom-nav ul li {
  display: inline-block;
  width: 15%;
  text-align: center;
}

.bottom-nav ul li a {
  display: inline-block;
  text-decoration: none;
  margin: 0 auto;
  font-family: 'Work Sans',sans-serif;
  font-weight: 600;
  color: #fc8c08;
  text-transform: uppercase;
  transition: .3s;
}

.bottom-nav ul li a:hover {
  color: #242424;
  transition: .3s;
  font-weight: 800;
}

/* ******************** START HOME MIN-WIDTH 880 MEDIA QUERY ******************** */
@media (max-width: 880px) {
  .bottom-nav {
    display: none;
  }

  .logo-hero {
    padding-top: 20px;
  }

  .hero-image {
    padding-top: 50px;
  }

  /******************************************************** Side Nav */
  .open-nav {
      display: block;
  }

  .open-nav:hover {
      cursor: pointer;
  }

  .sidenav {
    height: 100%;
    background-color: #232323;
    padding-top: 14%;
    transition: 0.5s;
  }

  .sidenav a {
    padding: 5% 8%;
    color: #e6e6e6;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: white;
    transition: 0.3s;
    }
  }

/* ******************** END HOME MIN-WIDTH 880 MEDIA QUERY ******************** */
/************** HOME HOME HOME HOME HOME HOME ******************/




/************** ABOUT ABOUT ABOUT ABOUT ABOUT ******************/

/*********************************************** floating h1, cookie, bar */
h1 {
  font-family: 'Fat Font', serif;
  font-weight: normal;
  font-size: 15rem;
  line-height: .7;
  color: #232323;
  text-transform: uppercase;
  padding-left: 10px;
  width: 100%;
}

.floating {
  width: 100%;
  padding: 7% 0;
}

.floating img {
    width: 50%;
    min-width: 400px;
    z-index: 100;
    margin-top: -10%;
    margin-left: 20%;
}

.bar {
    width: 100%;
    height: 200px;
    background: #fc8c08;
    margin-top: -30%;
}

.about {
  font-size: 1rem;
  padding: 4% 2%;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.about p {
  padding-top: 3%;
}

.about span {
  font-family: 'Fat Font';
  font-weight: normal;
  font-size: 5rem;
  color: #fc8c08;
  line-height: .8;
}

.button {
    background: #232323;
    padding: 2% 4%;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    display: inline-block;
    margin: 8% 0;
}

.button:hover {
  background:#fc8c08;
  transition: .3s;
}

/******************************************** Aside */
aside.creamery {
  width: 45%;
  display: block;
  float: right;
}

aside h2 {
    font-weight: 800;
    color: #fc8c08;
    margin: 0;
}

figure img {
  width: 65%;
  height: auto;
  object-fit: cover;
  object-position: top;
}

figcaption {
  width: 65%;
  padding-top: 1%;
}

aside .button {
  margin: 2% 0;
}

/******************************************** Contact Form */
.container {
  border-radius: .5%;
  background-color: #232323;
  color: white;
  padding: 5%;
  width: 50%;
  min-width: 500px;
  margin: 2%;
}

.container h2 {
  margin: 0;
  font-size: 1.8em;
  padding-bottom: 5%;
  color: white;
  line-height: 1;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 3%;
  border: 1px solid #ccc;
  border-radius: .5%;
  box-sizing: border-box;
  margin-top: 2%;
  margin-bottom: 4%;
  resize: vertical;
}

input[type=submit] {
  font-family: 'Work Sans',serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1em;
  background-color: #fc8c08;
  color: white;
  padding: 2% 4%;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fc8c08;
}

.thank-you h1 {
  font-family: 'Fat Font';
  font-weight: normal;
  font-size: 60px;
}

.thank-you p {
  font-size: 20px;
  display: inline-block;
  margin: 20px;
}

@media (max-width: 950px) {
.container {
  width: 75%;
  margin: 2% auto;
  clear: both;
}

aside.creamery {
float: none;
width: 65%;
margin: 0 auto;
padding: 0;
text-align: center;
}

figcaption {
margin: 0 auto;
}

}

/* ******************** START HOME MIN-WIDTH 950 MEDIA QUERY ******************** */
@media (min-width: 950px) {
  .about {
    text-align: left;
    margin: 2%;
    width: 35%;
    min-width: 475px;
  }
}

@media (max-width: 950px) {
  h1 {
    font-size: 10rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 6rem;
  }
}

/************** ABOUT ABOUT ABOUT ABOUT ABOUT ******************/


/************** COOKIES COOKIES COOKIES COOKIES COOKIES ******************/

body#cookies {
  background: white;
}

/*************************************************** popup */
.open-button {
    background-color: #fc8c08;
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 250px;
    left: 50px;
    width: 80px;
    font-family: 'Fat Font';
    font-weight: normal;
    font-size: 40px;
  }

.form-popup {
  display: none;
  position: fixed;
  top: 50px;
  left: 50px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-popup h1 {
    font-size: 55px;
    margin: 0 auto;
}

.form-popup h2 {
    font-size: 22px;
    margin: 10px;
    padding-top: 10px;
}

.form-popup p {
    margin: 0 10px;
}

.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: white;
}

.form-container .cancel {
    color: #fc8c08;
    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 30px;
    background: white;
    padding: 10px;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/************************************************** Cookies grid */
.row {
  max-width: 80%;
  margin: 0 auto;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
}

.column {
  position: relative;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 1%;
  height: 450px;
}

.card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    height: 90%;
}

.card img {
    padding-top: 40px;
    transition: .5s;
    width: 100%;
}

.card img:hover {
  transform: scale(1.2);
  transform-origin: center;
  transition: .5s;
}

.cookies {
  padding: 0 3%;
  text-align: center;
}

.cookies h2 {
    font-weight: 800;
    font-size: 1em;
    margin: 0 auto;
}

.cookies p {
    font-size: .8em;
    padding: 10px 0;
}

.cookies::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

  .order {
      position: absolute;
      color: #232323;
      cursor: pointer;
      width: 40px;
      height: 40px;
      top: 10px;
      right: 25px;
      border: 5px solid #232323;
      font-family: 'Fat Font';
      font-size: 30px;
      text-align: center;
      transition: .3s;
}

.order:hover {
  color: #fc8c08;
  transition: .3s;
}
/************************************************** Cookies grid */


/* ******************** START HOME MIN-WIDTH 1200 MEDIA QUERY ******************** */
@media screen and (max-width: 1200px) {
  .column {
    display: flex;
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    height: 500px;
  }
}

/* ******************** END HOME MIN-WIDTH 1200 MEDIA QUERY ******************** */

/************** COOKIES COOKIES COOKIES COOKIES COOKIES ******************/



/************** HOW IT WORKS HOW IT WORKS HOW IT WORKS HOW IT WORKS******************/
.slide-header {
  height: 200px;
  margin: 5% auto;
  width: 100%;
  text-align: center;
  background: #232323;
}

.slide-header h3 {
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 4%;
}

.slide-header p {
  font-size: 1.2rem;
  padding-top: 2%;
}

.slide-header a {
  text-decoration: none;
  color: white;
}

.slide {
  width: 100%;
  padding-left: 5%;
  padding-bottom: 5%;
}

.article {
  width: 40%;
  margin-top: 5%;
  display: inline-block;
}

.slide img {
  width: 40%;
  max-width: 500px;
  min-width: 400px;
  padding-top: 5%;
  margin-right: 35px;
}

.slide h2 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 0.8;
  margin: 0;
  color: #fc8c08;
  }

.slide p {
  font-size: 1.3rem;
  padding-top: 4%;
  }

svg.svg-inline--fa.fa-chevron-down.fa-w-14 {
  font-size: 3rem;
  cursor: pointer;
  margin: 5%;
  animation: bounce;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-iteration-count: 4;
}

.slide a {
  text-decoration: none;
  color: #232323;
}

.slide ol {
  font-size: 1.3rem;
  padding-left: 6%;
}

.slide ol li {
  font-size: 1.3rem;
  padding-top: 4%;
}

.slide-2 {
    background: #232323;
    color: #e6e6e6;
  }

.slide-2 svg.svg-inline--fa.fa-chevron-down.fa-w-14 {
    color: #fc8c08;
}

/*************************************** external css: flickity.css */

.cookie-carousel {
  background: white;
  width: 100%;
}

.cookie-carousel h2 {
  font-weight: 800;
  padding-top: 3%;
}

.carousel-cell {
  width: 28%;
  height: 500px;
  margin-right: 2%;
}

.carousel img {
  width: 100%;
  padding: 2%;
  min-width: 360px;
  max-width: 500px;
}

.carousel h4 {
    text-transform: uppercase;
    text-align: center;
}

.carousel p {
    font-size: 1rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.to-top {
  padding: 2%;
  margin-top: 2%;
  font-size: 3rem;
  box-sizing: border-box;
}

.to-top a {
  color: #fc8c08;
  cursor: pointer;
}

/* ******************** START HOW IT WORKS MIN-WIDTH 1200 MEDIA QUERY ******************** */
@media screen and (max-width: 1200px) {
  .carousel-cell {
    width: 43%;
  }
}
/* ******************** END HOW IT WORKS MIN-WIDTH 1200 MEDIA QUERY ******************** */

/* ******************** START HOW IT WORKS MIN-WIDTH 1100 MEDIA QUERY ******************** */

@media screen and (max-width: 1050px) {
  .article {
    width: 80%;
    }

  .slide img {
    width: 50%;
    margin: 0 auto;
    padding-top: 2%;
    }
}
/* ******************** END HOW IT WORKS MIN-WIDTH 1100 MEDIA QUERY ******************** */

/* ******************** start HOW IT WORKS MIN-WIDTH 800 MEDIA QUERY ******************** */
@media screen and (max-width: 800px) {
  .carousel-cell {
    width: 75%;
  }
}
/* ******************** end HOW IT WORKS MIN-WIDTH 800 MEDIA QUERY ******************** */


/************** HOW IT WORKS HOW IT WORKS HOW IT WORKS HOW IT WORKS******************/



/******************************************* HOME SCREEN scrolling banner animation*/
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
