* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
    font-family: 'Fat Font';
    src: url('fonts/freefatfont-regular.woff2') format('woff2'),
         url('fonts/freefatfont-regular.woff') format('woff');
    font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

/* Footer */
footer {
  width: 100%;
  height: 100px;
  background: #232323;
  color: white;
  position: relative;
  margin-top: 50px;
  bottom: 0;
}

footer a {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin: 20px 50px 0;
  text-decoration: none;
  transition: .3s;
}

footer a:hover {
  color: #fc8c08;
  transition: .3s;
}

svg.svg-inline--fa.fa-instagram.fa-w-14 {
    font-size: 30px;
    color: white;
    margin-top: 0;
}

footer a:first-child {
  float: left;
}

footer a:last-child {
  float: right;
}


header {
  position: relative;
}

.logo {
  margin: 0 auto;
  display: block;
}


/* Home */
body {
  background: #ffedd7;
  height: 100vh;
  width: 100vw;
  font-family: 'Work Sans',serif;
  letter-spacing: .05em;
}


/* scrolling banner */

h2 {
  font-family: 'Work Sans', serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 35px;
  display: inline-block;
  margin: 15px 40px;
}

.highlight {
  font-weight: 800;
  color: #fc8c08;
}

header#home {
    background: #232323;
    overflow: hidden;
}

.home header {
  position: relative;
  background: #232323;
  width: 100%;
  height: 8vh;
  overflow: hidden;
  /* margin-top: 25px; */
}

header .scroll {
  width: 100%;
  display: flex;
}

header .scroll div {
  color: white;
  background: #242424;
  white-space: nowrap;
  animation: scroll 40s linear infinite;
  animation-delay: -40s;
}

header .scroll div:nth-child(2) {
  animation: scroll2 40s linear infinite;
  animation-delay: -20s;
}



/* hero */

.hero {
  max-width: 80%;
  /* height: 100vh; */
  position: relative;
  margin: 0 auto;
  text-align: center;
}


.logo-hero {
  max-width: 250px;
  z-index: 2;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

.hero-image {
  /* position: absolute; */
  max-width: 700px;
  /* top: 30%;
  left: 27%; */
  z-index: 1;
  transition: .5s;
  margin: 0 auto;
  padding: 50px 0;
}

.hero-image:hover {
  transform: scale(1.2);
  transform-origin: center;
  transition: .5s;
}



/* bottom nav */

.bottom-nav {
  position: fixed;
  margin: 0 auto;
  text-align: center;
  bottom: 40px;
  width: 100%;
}

.bottom-nav ul li {
  display: inline-block;
  width: 15%;
  text-align: center;
}

.bottom-nav ul li a {
  display: inline-block;
  text-decoration: none;
  margin: 0 auto;
  font-family: 'Work Sans',sans-serif;
  /* font-size: 14px; */
  font-weight: 600;
  color: #fc8c08;
  text-transform: uppercase;
  /* padding: 0 150px; */
  transition: .3s;
}

.bottom-nav ul li a:hover {
  color: #242424;
  transition: .3s;
  font-weight: 800;
}






/* About */

.main {
  position: relative;
}

header {
  position: relative;
  margin: 0 auto;
}

header .logo {
  max-width: 15%;
  margin: 0 auto;
}

h1 {
  font-family: 'Fat Font', serif;
  font-weight: normal;
  font-size: 300px;
  line-height: .7;
  color: #232323;
  text-transform: uppercase;
  margin: 40px;
}



/* floating cookie */

.floating {
  width: 100%;
  position: relative;
}

.floating h1 {
  position: relative;
  width: 80%;
  height: 100vh;
}

.floating img {
    width: 50%;
    z-index: 100;
    top: -20px;
    left: 25%;
    position: relative;
}

.bar {
    width: 100%;
    height: 200px;
    background: #fc8c08;
    position: absolute;
    bottom: 250px;
}

.about {
    max-width: 50%;
    position: relative;
    margin: 20px 50px;
    /* font-family: 'Work Sans', sans-serif; */
    font-size: 20px;
    font-weight: 400;
}

.about p {
  padding-top: 20px;
}

.about span {
  font-family: 'Fat Font';
  font-weight: normal;
  font-size: 80px;
  color: #fc8c08;
  line-height: .8;
}

.button {
    background: #232323;
    padding: 15px 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    display: inline-block;
    margin: 50px 0 100px;
}

.button:hover {
  background:#fc8c08;
  transition: .3s;
}



/* Side Nav */

/* button */
svg.svg-inline--fa.fa-minus.fa-w-14 {
    margin: 20px;
    font-size: 50px;
    border: 10px;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    /* position: fixed; */
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #232323;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 10px 10px 8px 20px;
  font-family: 'Work Sans', serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  color: #e6e6e6;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  /* padding: 20px; */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* Contact Form */

.container {
    border-radius: 2px;
    background-color: #232323;
    color: white;
    padding: 50px;
    width: 50%;
    margin: 0 auto;
}

.container h2 {
    margin: 0;
    font-size: 30px;
    padding-bottom: 20px;
    color: #fc8c08;
    line-height: 1;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  /* font-family: 'Work Sans' serif; */
}

input[type=submit] {
  font-family: 'Work Sans',serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #fc8c08;
  color: white;
  padding: 12px 20px;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #fc8c08;
}

.thank-you h1 {
  font-family: 'Fat Font';
  font-weight: normal;
  font-size: 60px;
}

.thank-you p {
  font-size: 20px;
  display: inline-block;
  margin: 20px;
}





/* Cookies */

body#cookies {
  background: white;
}


/* popup */
.open-button {
    background-color: #fc8c08;
    color: white;
    padding: 16px 20px;
    /* border: none; */
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 250px;
    left: 50px;
    width: 80px;
    font-family: 'Fat Font';
    font-weight: normal;
    font-size: 40px;
  }

.form-popup {
  display: none;
  position: fixed;
  top: 50px;
  left: 50px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-popup h1 {
    font-size: 55px;
    margin: 0 auto;
}

.form-popup h2 {
    font-size: 22px;
    margin: 10px;
    padding-top: 10px;
}

.form-popup p {
    margin: 0 10px;
}

.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: white;
}

.form-container .cancel {
    color: #fc8c08;
    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 30px;
    background: white;
    padding: 10px;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Cookies grid */

.row {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  padding: 50px;
}

.row1 {
  padding-top: 150px;
}

.column {
  float: left;
  position: relative;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 12px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    height: 450px;
}

.card img {
    padding-top: 40px;
    transition: .5s;
}

.card img:hover {
  transform: scale(1.2);
  transform-origin: center;
  transition: .5s;
}

.cookies {
  padding: 0 16px;
  text-align: center;
}

.cookies h2 {
    font-weight: 800;
    font-size: 20px;
    margin: 0 auto;
}

.cookies p {
    font-size: 14px;
    padding: 10px 0;
}

.cookies::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

  .order {
      border: none;
      display: inline-block;
      position: absolute;
      color: #232323;
      cursor: pointer;
      width: 40px;
      height: 40px;
      top: 10px;
      right: 25px;
      border: 5px solid #232323;
      font-family: 'Fat Font';
      font-size: 30px;
      text-align: center;
      transition: .3s;
}

.order:hover {
  color: #fc8c08;
  transition: .3s;
}




/* How It Works */
.slide-header {
    position: relative;
    height: 200px;
    top: 200px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background: #232323;
    color: white;
    }

.slide-header h3 {
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 50px;
    text-decoration: none;
}

.slide-header p {
  font-size: 24px;
  padding-top: 20px;
}

.slide-header a {
  text-decoration: none;
  color: white;
}

.slide {
    width: 100%;
    height: 100vh;
    margin-top: 100px;
}

.slide-text {
  width: 60%;
  float: left;
  margin-top: 250px;
}

.slide img {
    padding: 20px;
    margin-right: 50px;
    margin-top: 250px;
    /* border: 6px solid #232323; */
    float: left;
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.slide h2 {
    font-family: 'Fat Font';
    font-weight: normal;
    font-size: 100px;
    line-height: .75;
    margin: 0;
    color: #fc8c08;
  }

.slide p {
    font-size: 24px;
    padding-top: 20px;
  }

  svg.svg-inline--fa.fa-chevron-down.fa-w-14 {
    font-size: 50px;
    border: 10px;
    cursor: pointer;
    margin: 80px 10px;
    box-sizing: border-box;
}

.slide a {
  text-decoration: none;
  color: #232323;
}

.slide ol li {
    font-size: 24px;
    padding-top: 20px;
}

.slide-2 {
    background: #232323;
    margin-top: 0;
    color: #e6e6e6;
  }


.slide-2 svg.svg-inline--fa.fa-chevron-down.fa-w-14 {
    color: #fc8c08;
}

.slide-3 {
    margin-top: 0;
  }

/* external css: flickity.css */

.cookie-carousel h2 {
  font-weight: 800;
}


.carousel {
  /* background: #EEE; */
  width: 100%;
  margin: 0 auto;
  height: 400px;
}

.carousel img {
  width: 100%;
}

.carousel h4 {
    text-transform: uppercase;
    text-align: center;
}

.carousel p {
    font-size: 14px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.carousel-cell {
  width: 28%;
  height: 500px;
  margin-right: 20px;
  /* background: #8C8; */
  border-radius: 5px;
  /* counter-increment: carousel-cell; */
}

.carousel-cell.is-selected {
  /* background: #ED2; */
}

.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.to-top {
  height: 75px;
  position: relative;
  margin: 20px;
}


.svg-inline--fa.fa-w-14 {
margin-top: 20px;
font-size: 50px;
color: #232323;
cursor: pointer;
box-sizing: border-box;
}


/* scrolling banner */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
